.wraper {
  width: 1440px;
  position: relative;
}
body {
  font-family: "Tomorrow", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}
.panel {
  width: 30%;
}
.panel ul {
  display: flex;
  justify-content: space-between;
}